body {
    background: radial-gradient(hsl(280, 20%, 20%), hsl(280, 20%, 10%));
    margin: 0px;
    font-family: "Sono", monospace;
    text-shadow: 0 0 2px hsl(280, 75%, 80%);
    color: hsl(280, 80%, 85%);
}

header {
    padding: 15px 15px 35px 15px;
    border-radius: 0px 0px 30px 30px;
}

.dark_background {
    background-color: hsl(240, 12%, 13%);
    box-shadow: inset 0px 0px 50px 45px hsl(240, 12%, 10%);
    border: solid 3px hsl(240, 12%, 10%);
}

h1, h2, h3 {
    font-family: "Tilt Neon", sans-serif;
    margin: 0px;
}

h1 {
    text-shadow: 0 0 9px hsl(280, 60%, 52%);
    color: hsl(280, 60%, 55%);
    font-size: 50px;
    text-align: center;
}

h2 {
    /* Box */
    padding: 15px 0px;
    margin: 15px;
    border-radius: 30px;
    /* Dark Background */
    background-color: hsl(240, 12%, 13%);
    box-shadow: inset 0px 0px 20px 20px hsl(240, 12%, 10%);
    border: solid 3px hsl(240, 12%, 10%);
    /* Text */
    text-shadow: 0 0 7px hsl(280, 70%, 55%);
    color: hsl(280, 70%, 60%);
    font-size: 35px;
    text-align: center;

}

h3 {
    text-shadow: 0 0 3px hsl(280, 80%, 60%);
    color: hsl(280, 80%, 65%);
    font-size: 30px;
}

p {
    font-size: 20px;
}

img {
    box-shadow: 0px 0px 15px 5px hsl(240, 12%, 5%);
}

a img { 
    box-shadow: none;
    height: 45px;
    width: auto;
    /*FireFox Only !*/
    image-rendering: -moz-crisp-edges;
}

div {
    display: flex;
}

section {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin: 50px;
    padding: 50px;
}

/* presentation */

#presentation_paragraph {
    display: flex;
    flex-direction: column;
    width: 490px;
    align-items: start;
}
#presentation_photos {
    display: flex;
    flex-wrap: wrap;
    max-width: 625px;
    justify-content: center;
}

#presentation_photos img {
    height: 125px;
    margin: 5px;
    border-radius: 15px;
}

/* Article */

article {
    border-radius: 30px;
    margin: 50px;
    padding: 50px;
}

article img {
    height: 167px;
    margin-right: 15px;
    border-radius: 15px;
    float: left;
}

/* Selection */
.selection_card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(240, 12%, 13%);
    box-shadow: inset 0px 0px 50px 45px hsl(240, 12%, 10%);
    border: solid 3px hsl(240, 12%, 10%);
}

.preview {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    border-radius: 10px;
}

.preview img {
 height: 90px;
 width: 125px;
 object-fit: cover;
}